@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: var(--font-itim), var(--font-helventica);
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth !important;
  }
}

body {
}

.overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    260.4deg,
    rgba(255, 149, 149, 0.78) 5.94%,
    rgba(58, 137, 255, 0.713602) 58.41%,
    rgba(144, 92, 255, 0.63) 114.03%
  );
  backdrop-filter: blur(4px);
  position: absolute;
  z-index: 0 !important;
}

.kratong {
  --size: 512px;
  width: var(--size);
  position: relative;
  z-index: var(--z-index);
}

.aura {
  width: calc(var(--size) + 50px);
  height: calc(var(--size) + 50px);
  top: 0;
  left: -25px;
  position: relative;
  background-color: #fef3c7;
  opacity: 30%;
  border-radius: 9999px;
  filter: blur(10px);
}

.caura {
  width: calc(var(--size) + 150px);
  height: calc(var(--size) + 150px);
  top: 0;
  left: -85px;
  position: relative;
  background-color: #fef3c7;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #fdf188 0%,
    rgba(247, 244, 159, 0) 100%
  );
  opacity: 0.5;
  border-radius: 9999px;
  filter: blur(10px);
}

.kratong .base {
  display: inline-block;
}

.kratong .base .flowers {
  position: absolute;
  z-index: calc(var(--z-index) - 1);
  top: 0;
}

.kratong .base .shell {
  z-index: var(--z-index);
  position: absolute;
  top: 0;
}

.kratong .topping .candle {
  position: absolute;
  z-index: calc(var(--z-index) - 2);
  top: 0;
}

.kratong .topping .decorations {
  position: absolute;
  z-index: calc(var(--z-index) - 3);
  top: 0;
}

.boat {
  animation: boat 4s linear infinite;
}

.boat-left {
  animation: boat2 6s linear infinite;
}

.wave-water {
  min-width: 1260px;
  height: 100%;
  background-repeat: repeat-x !important;
  animation: 12.6s linear 0s infinite normal none running animation-1wdgn51;
  backface-visibility: hidden;
}

.star {
  background-color: white;
  position: relative;
  border-radius: 50%;
  animation-name: twinkle;
  animation-iteration-count: infinite;
}

.lotus {
  background-image: url("/loykrathong/assets/scene/lotusRand.webp");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

@keyframes twinkle {
  50% {
    transform: scale(0.2);
  }
}

@keyframes animation-1wdgn51 {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(540px);
  }
}

@keyframes wave {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 1920px 0;
  }
}

@keyframes wave {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 1920px 0;
  }
}

@keyframes boat {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(-7deg);
  }

  100% {
    transform: rotate(0);
  }
}

@keyframes boat2 {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(-7deg);
  }

  100% {
    transform: rotate(0);
  }
}

@keyframes firework {
  0% {
    transform: translate(var(--x), var(--initialY));
    width: var(--initialSize);
    opacity: 1;
  }
  50% {
    width: 0.5vmin;
    opacity: 1;
  }
  100% {
    width: var(--finalSize);
    opacity: 0;
  }
}

/* @keyframes fireworkPseudo {
  0% { transform: translate(-50%, -50%); width: var(--initialSize); opacity: 1; }
  50% { width: 0.5vmin; opacity: 1; }
  100% { width: var(--finalSize); opacity: 0; }
}
 */
.firework,
.firework::before,
.firework::after {
  --initialSize: 0.5vmin;
  --finalSize: 45vmin;
  --particleSize: 0.2vmin;
  --color1: yellow;
  --color2: khaki;
  --color3: white;
  --color4: lime;
  --color5: gold;
  --color6: mediumseagreen;
  --y: -30vmin;
  --x: -50%;
  --initialY: 60vmin;
  content: "";
  animation: firework 2s infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, var(--y));
  width: var(--initialSize);
  aspect-ratio: 1;
  background: 
    /*
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 0% 0%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 100% 0%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 100% 100%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 0% 100%,
    */ radial-gradient(
        circle,
        var(--color1) var(--particleSize),
        #0000 0
      )
      50% 0%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 50%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 50% 100%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 0% 50%,
    /* bottom right */
      radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 80%
      90%,
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 95% 90%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 90% 70%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 60%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 55% 80%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 70% 77%,
    /* bottom left */
      radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 22%
      90%,
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 45% 90%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 70%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 10% 60%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 31% 80%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 28% 77%,
    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 13% 72%,
    /* top left */
      radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 80%
      10%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 95% 14%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 90% 23%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 100% 43%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 85% 27%,
    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 77% 37%,
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 60% 7%,
    /* top right */
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 22%
      14%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 45% 20%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 34%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 10% 29%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 31% 37%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 28% 7%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 13% 42%;
  background-size: var(--initialSize) var(--initialSize);
  background-repeat: no-repeat;
}

.firework::before {
  --x: -50%;
  --y: -50%;
  --initialY: -50%;
  /*   transform: translate(-20vmin, -2vmin) rotate(40deg) scale(1.3) rotateY(40deg); */
  transform: translate(-50%, -50%) rotate(40deg) scale(1.3) rotateY(40deg);
  /*   animation: fireworkPseudo 2s infinite; */
}

.firework::after {
  --x: -50%;
  --y: -50%;
  --initialY: -50%;
  /*   transform: translate(44vmin, -50%) rotate(170deg) scale(1.15) rotateY(-30deg); */
  transform: translate(-50%, -50%) rotate(170deg) scale(1.15) rotateY(-30deg);
  /*   animation: fireworkPseudo 2s infinite; */
}

.firework:nth-child(2) {
  --x: 30vmin;
}

.firework:nth-child(2),
.firework:nth-child(2)::before,
.firework:nth-child(2)::after {
  --color1: pink;
  --color2: violet;
  --color3: fuchsia;
  --color4: orchid;
  --color5: plum;
  --color6: lavender;
  --finalSize: 40vmin;
  left: 30%;
  top: 60%;
  animation-delay: -0.25s;
}

.firework:nth-child(3) {
  --x: -30vmin;
  --y: -50vmin;
}

.firework:nth-child(3),
.firework:nth-child(3)::before,
.firework:nth-child(3)::after {
  --color1: cyan;
  --color2: lightcyan;
  --color3: lightblue;
  --color4: PaleTurquoise;
  --color5: SkyBlue;
  --color6: lavender;
  --finalSize: 35vmin;
  left: 70%;
  top: 60%;
  animation-delay: -0.4s;
}
